.img {
  display: block;
  max-width:230px;
  max-height:25px;
  width: auto;
  height: auto;
}

.backround-app {
  background-color: rgb(11, 8, 46)
}


.backround-list {
  background-color: rgb(14, 14, 73);
}